In [1]:
colors = ['red', 'blue', 'green' ,'aqua']
result = ''
for i in colors :
    result += i
    
print(result)

redbluegreenaqua

In [3]:
result = ''.join(colors)
print(result)

redbluegreenaqua

## 문자열 분리 및 결합

- 문자열 분리 : split()

In [4]:
example = 'Python, Java, JavaScript, C++'
example.split(',')

['Python', ' Java', ' JavaScript', ' C++']

In [6]:
a, b, c, d = example.split(',')
print(a, b, c, d)

Python  Java  JavaScript  C++

- 문자열 결합

In [7]:
print(type(result))

<class 'str'>

In [9]:
result = ','.join(colors)
print(result)

red,blue,green,aqua

In [10]:
result = '-'.join(colors)
print(result)

red-blue-green-aqua

# List Comprehension

In [12]:
result = [i for i in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
result = [i for i in range(10) if i% 2 == 0]
print(result)

[0, 2, 4, 6, 8]

In [19]:
result = [i if i % 2 == 0 else 10 for i in range(10)]
print(result)

[0, 10, 2, 10, 4, 10, 6, 10, 8, 10]

## 리스트값에 인덱스를 붙여 출력 (enumerate())

In [22]:
for i, v in enumerate(['tic', 'tac', 'toe']) :
    print(i, v)

0 tic
1 tac
2 toe

In [23]:
{i:j for i, j in enumerate('TeamLAB is an academic institute located in South Korea'.split())}

{0: 'TeamLAB',
 1: 'is',
 2: 'an',
 3: 'academic',
 4: 'institute',
 5: 'located',
 6: 'in',
 7: 'South',
 8: 'Korea'}

## 리스트값을 병렬로 묶어 출력 (zip())

In [24]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a,b in zip(alist, blist) :
    print(a, b)

a1 b1
a2 b2
a3 b3

In [25]:
alist = ['a1', 'a2', 'a3', 'a4']
blist = ['b1', 'b2', 'b3']
for a,b in zip(alist, blist) :
    print(a, b)

a1 b1
a2 b2
a3 b3

In [26]:
alist = ['a1', 'a2', 'a3', 'a4']
blist = ['b1', 'b2', 'b3', 'b4']
for a,b in zip(alist, blist) :
    print(a, b)

a1 b1
a2 b2
a3 b3
a4 b4

In [29]:
print(type(a))

<class 'tuple'>

In [27]:
a, b, c = zip((1,2,3),(4,5,6),(7,8,9))
print(a, b, c)

(1, 4, 7) (2, 5, 8) (3, 6, 9)

In [28]:
[sum(x) for x in zip((1,2,3),(4,5,6),(7,8,9))]

[12, 15, 18]

In [30]:
for i, (a, b) in enumerate(zip(alist, blist)) :
    print(i ,a, b)

0 a1 b1
1 a2 b2
2 a3 b3
3 a4 b4

## 함수의 이름 없이 사용할 수 있는 익명의 함수

In [32]:
f = lambda x, y : x + y
print(f(1,5))

6

In [34]:
print((lambda x, y : x + y)(2,5))

7

## 맵리듀스

In [40]:
alist = [1, 2, 3, 4, 5]
f = lambda x: x * 2
print(alist)
print(f(alist))
print(map(f, alist))
print(list(map(f, alist)))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
<map object at 0x000002D81AE0D7F0>
[2, 4, 6, 8, 10]

In [41]:
[i*2 for i in range(1,6)]

[2, 4, 6, 8, 10]

In [42]:
from functools import reduce

print(reduce(lambda x, y: x + y, [1,2,3,4,5]))

15

## 별표(asterisk)

In [45]:
def asterisk_test(a, *args) :
    print(a, args)
    print(type(args))

asterisk_test(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [46]:
def asterisk_test(a, **kargs) :
    print(a, kargs)
    print(type(kargs))

asterisk_test(1, b=2, c=3, d=4, e=5)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5}
<class 'dict'>

## 별표의 언패킹

In [48]:
def asterisk_test(a, args) :
    print(a, *args)
    print(type(args))
    
asterisk_test(1,(2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>